*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%; /* Explicitly set width to 100% */
}

a {
  text-decoration: none;
  color: inherit;
}

body{
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}